
  <div class="hero-body">
    <div class="container has-text-left">
      <div class="column is-4 is-offset-4 has-text-centered">
        <div class="card">
          <div class="card-header">
            <h3 class="card-header-title is-1">Developer Form</h3>
          </div>
          <div class="card-content">
            <form [formGroup]="frmAsyncValidator" (ngSubmit)="onSubmit()">
              <div class="field has-text-left">
                <label class="label">Email</label>
                <div [ngClass]="{'is-loading': frmAsyncValidator.controls['email'].pending }" class="control">
                  <input [ngClass]="{'is-danger': hasError('email', 'any')}" formControlName="email"
                    class="input is-focused" type="username" placeholder="Email">
                </div>
                <div>
                <label class="label">FirstName</label>
                <input  formControlName="firstName"
                class="input is-focused" type="username" placeholder="FirstName">
              </div>
              
              <div>
                <label class="label">LastName</label>
                <input formControlName="lastName"
                class="input is-focused"  placeholder="LastName">
              </div>
              <div>
                <label class="label">Date Of Birth</label>
                <input formControlName="dateOfBirth" type="date"
                class="input is-focused"  >
              </div>
              <div>
                <label class="label">Language</label>

                <select formControlName="language" size="3" class="input is-focused" [(ngModel)]="lang">
                <option value="Angular">Angular</option>
                <option value="React">React</option>
                <option value="Vue">Vue</option>
              </select>
              </div>
              <div *ngIf="lang==='Angular'">
                <label class="label">Version</label>

                <select size="3" class="input is-focused" formControlName="version">
                <option value="1.1.1">1.1.1</option>
                <option value="1.2.1">1.2.1</option>
                <option value="1.3.3">1.3.3</option>
              </select>

              </div>
              <div *ngIf="lang==='React'">
                <label class="label">Version</label>

                <select size="3" class="input is-focused" formControlName="version" >
                <option value="2.1.2">2.1.2</option>
                <option value="3.2.4">3.2.4</option>
                <option value="4.3.1">4.3.1</option>
              </select>

              </div>
              <div *ngIf="lang==='Vue'">
                <label class="label">Version</label>

                <select size="3" class="input is-focused" formControlName="version">
                <option value="3.3.1">3.3.1</option>
                <option value="5.2.1">5.2.1</option>
                <option value="5.1.3">5.1.3</option>
              </select>

              </div>
                <div class="has-text-danger" *ngIf="hasError('email', 'required')">
                  A valid email is required!
                </div>
                <div class="has-text-danger" *ngIf="frmAsyncValidator.controls['email'].errors?.usernameExists">
                  This email is already taken!
                </div>
                <div>
                  <label class="label">Hobby 1 Name</label>
                  <input formControlName="hobby1Name"
                  class="input is-focused"  placeholder="Hobby1Name">

                </div>
                <div>
                  <label class="label">Hobby 1 Duration</label>
                  <input formControlName="hobby1Duration"
                  class="input is-focused"  placeholder="Hobby1Duration">
                  
                </div>
                <div>
                  <label class="label">Hobby 2 Name</label>
                  <input formControlName="hobby2Name"
                  class="input is-focused"  placeholder="Hobby2Name">
                  
                </div>
                <div>
                  <label class="label">Hobby 2 Duration</label>
                  <input formControlName="hobby2Duration"
                  class="input is-focused"  placeholder="Hobby2Duration">
                  
                </div>

                  
              </div>
              
              
              
              
                
              <br>
                     
              <button сlass="button"  type="submit">Submit</button>
            </form>
           
            
          </div>
        </div>
      </div>
    </div>
  </div>

